.single__service {
    background: var(--blue-color-three);
    padding: 16px 20px 16px;
    /* width: 60%; */
    border-radius: 4px;
    cursor: pointer;
    border-bottom: 1px solid var(--col-puple-one);
    transition: .3s;
}

.service__icon {
    color: var(--col-puple-one);
    font-size: 2.2rem;
}

.services__top h6 {
    color: var(--col-puple-one);
    margin-bottom: 15px;
}

.single__service h2 {
    font-size: 1.4rem;
    margin-bottom: 16px;
    margin-top: 16px;
}

.single__service p {
    font-weight: 300;
    line-height: 28px;
    font-size: .9rem;
}

.single__service:hover {
    transform: translateY(-8px);
}

@media only screen and (max-width: 992px) {
    .single__service h2 {
        font-size: 1.3rem;
        margin-bottom: 12px;
    }

    .single__service p {
        font-size: .9rem;
        line-height: 28px;
    }
}